body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.scene {
  float: left;
  background-color: #000;
  width: 100%;
  height: 500px;
}

.grass {
  float:left;
  background-color: #238c00;
  width: 100%;
  height: 100px;
}

.road{
  float: left;
  background-color: #cccccc;
  width: 100%;
  height: 300px;
}

.ai {
  position:absolute;
  width: 100px;
  height: 50px;
  background-color: #fff;
  margin-top: 100px;
}

.wall {
  position: absolute;
  width: 50px;
  height: 100px;
  background-color: #b32d00;
  right: 0px;
}

.sensor_1, .sensor_2, .sensor_3 {
  position: relative;
  background-color: #fff;
  opacity: 0.5;
  width: 50px;
  height: 50px;
  text-align: center;
}

.sensor_1 {
  top:-50px;
  left: 50px;
}

.sensor_2 {
  top: -50px;
  left: 100px;
  width: 500px !important;
}

.sensor_3 {
  top:-50px;
  left: 50px;
}


.debugArea {
  width: 100%;
  height: 100%;
  background-color: black;
  float: left;
  color: white;
}

.debugTextareaClass {
  width: 400px;
  height: 150px;
}
